@import '../../index.css';

.home{
}
.home.blur{
  filter: blur(2px);
  transition: 0.5s;
}

.myName{
  font-family: var(--letter-style-2);
  color: rgb(199, 255, 242);
  font-size: 1vw;
  font-weight: 400;
  margin-bottom: 25px;
  letter-spacing: 1px;
}
.myDescription{
  font-family: var(--letter-style-2);
  color: rgb(199, 255, 242);
  font-size: 1vw;
  font-weight: 400;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.fullName{
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(132, 147, 153));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--h1-style);
  font-size: 3.5vw;
  letter-spacing: 7px;
}
.description{
  background: -webkit-linear-gradient(rgb(176, 196, 197), rgb(87, 101, 107));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
  font-family: var(--h1-style);
  font-size: 3.5vw;
  letter-spacing: 7px;
}

.noselect {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}


/* MOBILE */
@media(max-width:990px){
  .myName, .myDescription{
    font-size: 15px;
  }
  .fullName{
    font-size: 35px;
  }
  .description{
    font-size: 35px;
  }
  .home{
    height: 100vh;
    width: 100%;
    color: white;
    padding: 150px 50px 0px 50px;
    display: flex;
    justify-content: center;
  }
  
        
}
/* NORMAL */
@media(min-width:990px){
    .home{
        height: 100%;
        width: 100%;
        min-height: 100vh;
        color: white;
        padding-top: 250px;
        padding-left: 2vw;
        display: flex;
        justify-content: center;
    }
    .home-content{
      width: 100%;
    }
    .my-description{
      width: 100%;
    }
}
