@import '../../index.css';

.mobileNavigation{
    display: flex;
    align-items: center; 
}
.hamburger-icon{
    z-index: 99;
    position: absolute;
    right: 5%;
    cursor: pointer;
    color: var(--primary-color);
}
@media (min-width:990px){
    .mobileNavigation{
        display: none;
    }
}
