.mobileNavigation{
    display: flex;
    align-items: center; 
}
.hamburger{
    z-index: 99;
    position: absolute;
    right: 5%;
    cursor: pointer;
}
@media (min-width:990px){
    .mobileNavigation{
        display: none;
    }
}
