.logo{
    display: flex;
    margin-left: 30px;
    color: #64ffda;
    font-size: 40px;
    font-weight: 600;
}
.logo .e{
    transform: scaleX(-1);

}
.navbar1{
   
    min-height: 50px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}