@import '../../index.css';


.logo{
    font-family: var(--letter-style-2);
    opacity: 0.6;
    display: flex;
    /* margin-left: 30px; */
    color: #64ffda;
    font-size: 60px;
    transition: 0.5s;
    text-decoration: none;
    box-shadow: 0 0 1px 1px #64ffda;
}
.logo:hover{
    color: white;
}
.logo.desenfoque{
    filter: blur(2px);
    transition: 0.5s;
}
.logo .e{
    transform: scalex(-1);
    
}
.e, .d{
    margin-top: -10px;
     margin-bottom: -10px;
}
.navbar{
    position: fixed;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px 50px 0px 50px;
    width: 100%;
    z-index: 2;
}

.noselect {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}


/* MOBILE */
@media(max-width:990px){
    .navbar{
        padding: 0px 0px 0px 15px;
    }
    .logo{
        margin-top: 10px;
        margin-left: 10px;
       
    }
}
/* NORMAL */
@media(min-width:990px){
    .navbar{
        padding: 13px 50px 0px 50px;
    }
}
