@import '../../index.css';


.logo{
    font-family: var(--letter-style-2);
    opacity: 1;
    display: flex;
    color: #64ffda;
    font-size: 60px;
    transition: 300ms;
    text-decoration: none;
    box-shadow: 0 0 1px 1px #64ffda;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
    cursor: pointer;
    margin-bottom: 10px;
}
.logo:hover{
    color: #8892b0;
}
.logo.desenfoque{
    filter: blur(2px);
    transition: 0.5s;
}
.logo .e{
    transform: scalex(-1);
    
}
.e, .d{
    margin-top: -10px;
    margin-bottom: -10px;
}
.navbar{
    background-color: rgba(10,25,47, .7);
    position: fixed;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px 50px 0px 50px;
    width: 100%;
    z-index: 12;
    top: 0;
    
    transition: all 500ms ease;    
}
.navbar.hidde{
    top: -100px;
}
.navbar::after{
    content: "";
    background-color: #2f7766;
    position: absolute;
    left: 0;
    top: calc(100%);
    width: 100%;
    height: 1px;
    z-index: -1;
}

.noselect {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}


/* MOBILE */
@media(max-width:990px){
    .navbar{
        padding: 0px 0px 0px 15px;
    }
    .logo{
        margin-top: 10px;
        margin-left: 10px;
       
    }
}
/* NORMAL */
@media(min-width:990px){
    .navbar{
        padding: 13px 50px 0px 50px;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    
    }
    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .navbar {
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
    }
}
}
