@import '../../index.css';

/* -----------------------------NORMAL-----------------------------*/
 @media(min-width:990px){
    .div-sections{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 25px;
    } 
    .sections{       
        display:flex;    
        flex-direction: row;
        align-items: center;
        list-style-type: none;
        transition: right 0.4s ease;
    }
    .nav-sub-item{
        font-size: 15px;
        font-family: 'Roboto Mono', monospace;
        font-weight: 600;
        text-decoration: none;
        color: white;
        transition: all 300ms ease;
    }
    .nav-item{
        font-weight: 200;
        margin-left: 30px;
        text-decoration: none;
        color: white;
        transition: all 0.2s ease;
        cursor: pointer;
    }
     .nav-sub-item:hover{
        color: var(--primary-color);
    }
    .span-nav{
        color:var(--primary-color)
    }
    .resume{
        text-decoration: none;
        font-family: 'Roboto Mono', monospace;
        font-weight: 800;
        font-size: 20px;
        padding: 5px 15px 5px 15px;
        color: var(--primary-color);
        background-color: transparent;
        border-style: none;
        border-radius: 5px;
        border: 1px solid var(--primary-color);
        transition: 0.4s;
    }
    .resume:hover {
        background-color: var(--primary-color-hover); 
    }
 }
/* -----------------------------MOBILE-----------------------------*/
@media(max-width:990px){
    .background.open{
        position: fixed;
        width: 300px;
        height: 100%;
        top: 0px;
        right: 0px;
        background-color: #112240;
        transition: all 0.4s ease;
    }
    .background{
        position: fixed;
        width: 300px;
        height: 100%;
        top: 0px;
        right: -100%;
        background-color: #112240;
        transition: all 0.4s ease;
    }
    .sections.open{
        position: fixed;
        top: 90px;
        right: 80px;
        display:flex;    
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        transition: right 0.4s ease;
    }
    .sections{
        position: fixed;
        top: 90px;
        right: -100%;
        display:flex;    
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        transition: right 0.4s ease;
    }
    .nav-sub-item{
        font-size: 20px;
        font-family: var(--letter-style);
        text-decoration: none;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav-item{
        margin-top: 40px;
        text-decoration: none;
        color: white;
        transition: all 0.2s ease;
    }
    .nav-sub-item:active{
        color: white;
    }
    .nav-sub-item:hover{
        color: var(--primary-color);
    }
    .span-nav{
        color:var(--primary-color)
    }

    .resume{
        font-family: var(--letter-style);
        font-weight: 800;
        font-size: 20px;
        padding: 5px 15px 5px 15px;
        color: var(--primary-color);
        background-color: transparent;
        border-style: none;
        border-radius: 5px;
        border: 1px solid var(--primary-color);
        transition: 0.4s;
    }
    .resume:hover {
        background-color: var(--primary-color-hover); 
    }
 }
 