@import '../../index.css';

/* DESKTOP */
@media(min-width:990px){
.footer{
    position: fixed;
    bottom: 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
/* List */
.ul-left{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}

/* Div */
.footer-left, .footer-right{
    color: white; 
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 .email-p{
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    cursor: pointer; 
    height: 250px;
    opacity: 0.7;
    font-family: var(--letter-style-2);
    font-size: 1rem;
    line-height: var(--fz-lg);
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: white;
    transition: all 300ms ease;
 }
 .email-p:hover{
     opacity: 1;
     transform: scale(1.05);
 }
 /* each element */
.icon{
    padding-bottom: 10px;
    cursor: pointer;
    opacity: 0.7;
    transition: all 300ms ease;
}
.icon:hover{
    opacity: 1;
    transform: scale(1.1);
}
/* left line */
.left-line, .right-line{
    width: 1px;
    height: 15vh;
    background-color: white;
    opacity: 0.7;
}
/* color of links */
a{
    color: white;
}
  

}
/* MOBILE */
@media(max-width:990px){
    .footer{
        
        position: absolute;
        bottom: 10px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-right{
        position: absolute;
        margin-top: -100px;
    }
    .ul-left{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        width: 100vw;
        padding: 0px 150px 0px 150px;
        
    }
    .email-p{
        text-decoration: none;
        color: white;
        letter-spacing: 3px;
        font-family: var(--letter-style-2);
        font-size: 15px;
    }
    a{
        color: white;
    }

    /* MOBILE SM */
    @media(max-width:660px){
        .ul-left{
           padding: 0px 50px 0px 50px;
        }
    }
    
}