.app{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: rgb(0,7,54);
    background: linear-gradient(0deg, rgb(0, 41, 54) 0%, rgb(0, 12, 51) 100%);
}



@media(min-width:990px){
    .app{
        display: flex;
        justify-content: center;
    }
    .home{
        width: 55%;
        position: absolute;
        color: white;
        margin-top: 280px;
    }
}
@media(max-width:990px){
    .home{
            position: absolute;
            color: white;
            margin-top: 150px;
            padding: 0px 20px 0px 20px;
        }
}