.app{
    position: absolute;
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
    background: rgb(10,25,47);
    background: linear-gradient(180deg, rgba(10,25,47,1) 0%, rgba(11,41,36,1) 100%);
    display: flex;
    justify-content: center;
    z-index: -1000; 

}
.sections-content{
    width: 70%;
    height: 100%;
}
.appear {
  opacity: 1;
  transition: all 1.5s ease;
}
.noappear {
  transition: all 1s ease;
  opacity: 0;
}
@media(min-width:990px){
    #home{
      /* display: flex;
      justify-content: center;
      height: 100vh; */
    }
}
