.app{
    position: absolute;
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100%;
    background: rgb(0,7,54);
    background: linear-gradient(0deg, rgb(0, 41, 54) 0%, rgb(0, 12, 51) 100%);
    display: flex;
    justify-content: center;
    z-index: -1000; 
}

/* NORMAL */
@media(min-width:990px){
    .home{
        height: 100%;
        width: 55%;
        color: white;
        padding-top: 240px;
    }
}
/* MOBILE */
@media(max-width:990px){
    .home{
            color: white;
            padding: 150px 20px 0px 20px;
        }
}