@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

:root{
    --primary-color: #64ffda;
    --primary-color-hover: rgba(100,255,218, 0.3);
    --letter-style: 'Roboto Mono', monospace;
    --h1-style: 'Righteous', cursive;
    --letter-style-2: 'Fira Code', monospace;
    --phrase-style: 'Cinzel', serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}